section( class='section section--davi' data-scroll-section)
    div(class='grid-three')  
        div
            div(class='feature-info')
                h1(class='feature-info-title' data-scroll data-delay="2600") 
                    span(class='feature-info-title--anime') 
                        span(data-scroll data-scroll-speed="3" data-scroll-position="top" data-scroll-delay="0.30" data-scroll-call="reveal") Um breve relato do Renascentista italiano 
                        hr(class='feature-info-title--line' data-scroll data-scroll-speed="3" data-scroll-position="top" data-scroll-delay="0.30" data-scroll-call="reveal")

                p(class='feature-info-text' data-scroll data-delay="2600") 
                    span(class='feature-info-text--anime') 
                        span(data-scroll data-scroll-speed="3" data-scroll-position="top" data-scroll-delay="0.20") Michelangelo (1475-1564) foi um pintor, escultor e arquiteto italiano. É considerado um dos maiores representantes do Renascimento Italiano. "Pietá", "O Juízo Final", "Moisés", "Davi" e "A Abóbada da Capela Sistina" são algumas das obras que eternizaram o artista. 

                div(class='feature-info-btn' data-scroll data-delay="2800")
                    div(data-scroll data-scroll-speed="3" data-scroll-position="top" data-scroll-delay="0.10")
                        a(href='' class='btn')
                            div(class='btn-wrapper') 
                                div(class='button active') Saiba mais
                                div(class='button hover') Saiba mais

        div(class='small')
        div
            div(class='image-davi')
                div(class='floating-image')
                    div(class='fade-anime-zoom' data-delay="2000" data-delay-mobile="200" data-scroll="" data-scroll-call="reveal")
                        img(src='/assets/images/davi.png')
                div(class='image-davi__description' data-delay="200" data-delay-mobile="200" data-scroll data-scroll-speed="-2")
                    span Davi (1501)
            div(class='decoration-text' data-scroll data-delay="2600" data-scroll-speed="-2" data-scroll-delay="0.10")
                span Artista
                    br
                    | Michelangelo