section( class='section section--construction' data-scroll-section)
    div(class='grid-three')  
        div
            div(class='decoration-text decoration-text--inner' data-scroll data-delay="2600" data-scroll-speed="-2" data-scroll-delay="0.10")
                span Obras
                    br
                    | Famosas

        div(class='small')
        div
            div(class='feature-info feature-info--inner')
                p(class='feature-info-text feature-info--inner-text text-white' data-scroll data-delay="2600") 
                    span(class='feature-info-text--anime feature-info--inner-text-anime') 
                        span(data-scroll data-scroll-speed="1" data-scroll-position="bottom" data-scroll-delay="0.20") Michelangelo (1475-1564) foi um pintor, escultor e arquiteto italiano. É considerado um dos maiores representantes do Renascimento Italiano. "Pietá", "O Juízo Final", "Moisés", "Davi" e "A Abóbada da Capela Sistina" são algumas das obras que eternizaram o artista.

            div(data-scroll data-scroll-speed="1" data-scroll-position="bottom" data-scroll-delay="0.20")
                figure(class='figure figure--pieta')
                    a(href='' class='js--open-details-figure' data-construction='pieta')
                        img(class='js--figure-perspective' src="/assets/images/pieta.jpg", alt="Pietá") 
            
            div(data-scroll data-scroll-speed="1" data-scroll-position="bottom" data-scroll-delay="0.20")
                figure(class='figure figure--tondo')
                    a(href='' class='js--open-details-figure' data-construction='tondo')
                        img(class='js--figure-perspective' src="/assets/images/tondo-doni.png", alt="Tondo Doni") 
            
            div(data-scroll data-scroll-speed="2" data-scroll-position="bottom" data-scroll-delay="0.20")
                figure(class='figure figure--adao')
                    a(href='' class='js--open-details-figure' data-construction='adao')
                        img(class='js--figure-perspective' src="/assets/images/adao.jpg", alt="Adão") 

            div(data-scroll data-scroll-speed="3" data-scroll-position="bottom" data-scroll-delay="0.20")
                figure(class='figure figure--venus')
                    a(href='' class='js--open-details-figure' data-construction='venus')
                        img(class='js--figure-perspective' src="/assets/images/venus.jpg", alt="Venus") 