div(class='overlay overlay--black is--active')
    div(class='overlay-steps overlay-first')
    div(class='overlay-steps overlay-two')
    div(class='overlay-steps overlay-three')

div(class='percentual is--active')
    span(class='percentual__text')
    div(class='percentual__bar')